<h2>Deze tabel geeft alle boeken in de database weer:</h2>
<table >
  <tr>
    <th>Id:</th>
    <th>Title:</th>
    <th>Description:</th>
    <th>Pages:</th>
    <th>Remove?</th>
    <th>Update?</th>
  </tr>
  <tr *ngFor="let b of boeken">
    <td><input value="{{b.id}}"></td>
    <td><input [(ngModel)]="b.title" [value]="t"></td>
    <td>{{b.description}}</td>
    <td>{{b.pages}}</td>
    <td><button (click)="deleteBook(b.id)">X</button></td>
    <td><button  (click)="updateBook(b.id)">UPDATE</button></td>
  </tr>
</table>
<br>
<br> 
<div class="invPost">
  <p>
    title: <input placeholder="title" [(ngModel)]="tit">
    description: <input placeholder="description" [(ngModel)]="desc">
    pages: <input placeholder="pages" [(ngModel)]="pag">
  </p>
  <button (click)="postIt()">voeg toe aan db</button>
</div>
<br>
<br>
<router-outlet></router-outlet>
