<img src="assets/mars.jpg" width="100%" height="100%">
<div class="container">
    <div class="row">
        <div class="col">
            <mdb-card class="homeCard">
                <!--Card content-->
                <mdb-card-body>
                  <!--Title-->
                  <mdb-card-title>
                    <h4>Mars Rover NASA API Photo Project</h4>
                  </mdb-card-title>
                  <!--Text-->
                  <mdb-card-text> 
                    <p>
                      Dit is een project gemaakt door <strong>Maxim Wauters</strong> voor het vak Cloud APIs. 
                      In dit project heb ik gebruik gemaakt van de NASA API om bepaalde gegevens op te vragen.
                      Ook heb ik een eigen REST API gemaakt voor foto's die je leuk vind in te bewaren.
                      U kan makkelijk door de site navigeren via het menu.
                    </p>
                    <p>
                      In de rubriek <strong>Gallery</strong> worden via paging enkele foto's die de Mars Rover genomen heeft afgebeeld.
                      U kan vervolgens ook foto's opzoeken op datum...
                    </p>
                    <p>
                      In de rubriek <strong>My Photo List</strong> kan je foto's die je leuk vind bewaren aan de hand van een Titel, description en Url van de foto.
                    </p>
                  </mdb-card-text>
                </mdb-card-body>
              </mdb-card>
        </div>
        <div class="col">
          <mdb-card class="homeCard">
            <mdb-card-img src="assets/me.jpg" alt="thumbnail" class="img-thumbnail"></mdb-card-img>
          </mdb-card> 
        </div>
        <div class="col">

        </div>
    </div>
  </div>